<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.mall2.category.service.CategoryMapper">
	
	<select id="totalCountCategory"
			resultType="Integer">
		select count(*) from category
	
	</select>

	<select id="selectCategoryList" parameterType="java.util.Map" resultType="com.test.mall2.category.service.Category">
			select
				category_no as categoryNo
				,category_name as categoryName
			from category
			order by category_no DESC
			limit #{beginRow}, #{pagePerRow} 
	</select>
	
	 <insert id="insertCategory" parameterType="com.test.mall2.category.service.Category">
	INSERT INTO category(
	 category_no
	 ,category_name
	 ) VALUES (
	 null
	 ,#{categoryName}
	 )
	</insert>
	
	<select id="updateCategoryForm" parameterType="com.test.mall2.category.service.Category" resultType="com.test.mall2.category.service.Category">
		select 
			category_no as categoryNo
			,category_name as categoryName
		from category
		where 
			category_no =
			#{categoryNo}
	</select>
	
	<update id="updateCategory" parameterType="com.test.mall2.category.service.Category">
		UPDATE category
			SET
			category_no = #{categoryNo}
			,category_name = #{categoryName}
		WHERE category_no = #{categoryNo}	
	</update>	
	
	<delete id="deleteCategory" parameterType="com.test.mall2.category.service.Category">
		DELETE 
			FROM category 
		WHERE category_no = #{categoryNo}	
	</delete>
</mapper>

