<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.mall2.address.service.AddressMapper">

	<delete id="deleteAddress"
			parameterType="Integer">
		DELETE
		FROM address
		WHERE address_no = #{addressNo}
	</delete>

	<update id="updateAddress"
			parameterType="com.test.mall2.address.service.Address">
		UPDATE
			address
		SET
			address_content = #{addressContent}
		WHERE
			address_no = #{addressNo}
	</update>
	
	<select id="selectAddressForUpdate"
			parameterType="Integer"
			resultType="com.test.mall2.address.service.Address">
		SELECT
			address_no AS addressNo
			,member_no AS memberNo
			,address_content AS addressContent
		FROM address
		WHERE address_no = #{addressNo}
	</select>
	
	<select id="totalCountAddress"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			address
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('addressNo')">
					WHERE address_no = #{searchWord}
				</when>
				<when test="searchSelect.equals('memberNo')">
					WHERE member_no = #{searchWord}
				</when>
				<when test="searchSelect.equals('addressContent')">
					WHERE address_content = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	
	<select id="selectSearchAddressList"
			parameterType="java.util.Map"
			resultType="com.test.mall2.address.service.Address">
		SELECT
			address_no AS addressNo
			,member_no AS memberNo
			,address_content AS addressContent
		FROM
			address
		
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('addressNo')">
					WHERE address_no = #{searchWord}
				</when>
				<when test="searchSelect.equals('memberNo')">
					WHERE member_no = #{searchWord}
				</when>
				<when test="searchSelect.equals('addressContent')">
					WHERE address_content = #{searchWord}
				</when>
			</choose>
		</if>
			
		ORDER BY
			address_no DESC
		LIMIT
			#{beginRow}, #{pagePerRow}
	</select>
	
	
	<!-- mybatis에서 세미콜론 찍으면 에러난다. -->
	<select id="selectAddressList"
			parameterType="java.util.Map"
			resultType="com.test.mall2.address.service.Address">
		SELECT
			address_no AS addressNo
			,member_no AS memberNo
			,address_content AS addressContent
		FROM address
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('addressNo')">
					WHERE address_no = #{searchWord}
				</when>
				<when test="searchSelect.equals('memberNo')">
					WHERE member_no = #{searchWord}
				</when>
				<when test="searchSelect.equals('addressContent')">
					WHERE address_content = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY address_no DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<insert id="insertAddress" 
			parameterType="com.test.mall2.address.service.Address">
			INSERT
			INTO address(
				member_no 
				,address_content
			)
			VALUES (
				#{memberNo}
				,#{addressContent}
			)
	 </insert>
</mapper>

