<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.mall2.board.service.BoardMapper">
	<insert id="insertBoard" parameterType="com.test.mall2.board.service.Board">
		INSERT INTO board (
			board_no
			,member_id
			,board_title
			,board_content
			,board_date
		) VALUES (
			#{boardNo}
			,#{memberId}
			,#{boardTitle}
			,#{boardContent}
			,now()
		)			
	</insert>

</mapper>