<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.mall2.board.service.BoardMapper">
	
	<select id="searchBoardListBoardDate" parameterType="java.util.Map" resultType="com.test.mall2.board.service.Board">
		SELECT 
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		FROM board
		WHERE board_date BETWEEN #{sv1} AND #{sv2}
	</select>
	
	<select id="searchBoardListBoardTitle" parameterType="STring" resultType="com.test.mall2.board.service.Board">
		select 
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		from board 
		where board_title = #{sv}	
	</select>
	
	<select id="searchBoardListMemberId" parameterType="STring" resultType="com.test.mall2.board.service.Board">
		select 
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		from board 
		where member_id = #{sv}	
	</select>
	
	
	<select id="selectBoardListAll" resultType="com.test.mall2.board.service.Board">
		SELECT
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		FROM board		
	</select>
	
	<select id="selectBoardList" parameterType="java.util.Map" resultType="com.test.mall2.board.service.Board">
		SELECT
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		FROM board
		order by board_no DESC 
		limit #{beginRow}, #{pagePerRow} 
	</select>
	
	<select id="totalCountBoard"
			resultType="Integer">
		select count(*) from board
	
	</select>
	
	<insert id="insertBoard" parameterType="com.test.mall2.board.service.Board">
		INSERT INTO board (
			board_no
			,member_id
			,board_title
			,board_content
			,board_date
		) VALUES (
			#{boardNo}
			,#{memberId}
			,#{boardTitle}
			,#{boardContent}
			,now()
		)			
	</insert>
	
	<select id="boardView" resultType="com.test.mall2.board.service.Board">
		SELECT
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_content as boardContent
			,board_date as boardDate
		FROM board
		where
			board_no = #{boardNo}
	</select>
	
	<delete id="deleteBoard" parameterType="com.test.mall2.board.service.Board">
	 DELETE
	 	FROM board
	 	WHERE board_no = #{boardNo}
	</delete>

	<update id="updateBoard" parameterType="com.test.mall2.board.service.Board">
		UPDATE board
			SET
			board_title  = #{boardTitle}
			,board_content = #{boardContent}
		WHERE board_no = #{boardNo}				
	</update>
</mapper>