<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.mall2.board.service.BoardMapper">
	
	<select id="selectBoardCommentList"
			parameterType="com.test.mall2.board.service.Board"
			resultType="com.test.mall2.boardComment.service.BoardComment">
		SELECT
			comment_no AS commentNo
			,board_no AS boardNo
			,comment_content AS commentContent
			,member_id AS memberId
		FROM
			board_comment
		WHERE
			board_no = #{boardNo}
		ORDER BY comment_no DESC
	</select>
	
	<select id="listAll" parameterType="java.util.Map" resultType="com.test.mall2.board.service.Board">
	    SELECT 
	    	board_no as boardNo
	    	, member_id as memberId
	    	, board_title as boardTitle
	    	, board_content as boardContent
	    	, board_date as boardDate
	    FROM board
	    <!-- WHERE절을 include 태그로 삽입 -->	    
	    <include refid="search"></include>
	    ORDER BY board_no DESC
	</select>
	
	<sql id="search">	
	    <choose>
	        <!-- 검색옵션이 날짜일 경우 -->
	        <when test="searchOption == 'board_date'">        
	        	WHERE board_date BETWEEN '${keyword1}' AND '${keyword2}'            
	        </when>
	        <!-- 날짜 검색이 아닐 경우 -->
	        <otherwise>
	            WHERE ${searchOption} like CONCAT('%','${keyword}','%')
	        </otherwise>
	    </choose>
	</sql>
		
	<!-- <select id="searchBoardListBoardDate" parameterType="java.util.Map" resultType="com.test.mall2.board.service.Board">
		SELECT 
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		FROM board
		WHERE board_date BETWEEN #{sv1} AND #{sv2}
	</select>
	
	<select id="searchBoardListBoardTitle" parameterType="STring" resultType="com.test.mall2.board.service.Board">
		select 
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		from board 
		where board_title = #{sv}	
	</select>
	
	<select id="searchBoardListMemberId" parameterType="STring" resultType="com.test.mall2.board.service.Board">
		select 
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		from board 
		where member_id = #{sv}	
	</select>
	
	
	<select id="selectBoardListAll" resultType="com.test.mall2.board.service.Board">
		SELECT
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		FROM board		
	</select> -->
	
	<select id="selectBoardList" parameterType="java.util.Map" resultType="com.test.mall2.board.service.Board">
		SELECT
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_date as boardDate
		FROM board
		order by board_no DESC 
		limit #{beginRow}, #{pagePerRow} 
	</select>
	
	<select id="totalCountBoard"
			resultType="Integer">
		select count(*) from board
	
	</select>
	
	<insert id="insertBoard" parameterType="com.test.mall2.board.service.Board">
		INSERT INTO board (
			board_no
			,member_id
			,board_title
			,board_content
			,board_date
		) VALUES (
			#{boardNo}
			,#{memberId}
			,#{boardTitle}
			,#{boardContent}
			,now()
		)			
	</insert>
	
	<select id="boardView" resultType="com.test.mall2.board.service.Board">
		SELECT
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_content as boardContent
			,board_date as boardDate
		FROM board
		where
			board_no = #{boardNo}
	</select>
	
	<delete id="deleteBoard" parameterType="com.test.mall2.board.service.Board">
	 DELETE
	 	FROM board
	 	WHERE board_no = #{boardNo}
	</delete>

	<update id="updateBoard" parameterType="com.test.mall2.board.service.Board">
		UPDATE board
			SET
			board_title  = #{boardTitle}
			,board_content = #{boardContent}
		WHERE board_no = #{boardNo}				
	</update>
</mapper>