<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.test.mall2.item.service.ItemMapper">

	<!--	resultMap - type : 객체 타입
			resultMap - id : resultMap 명
			id : PK 멤버변수 지정. 
			id - column : DB 칼럼명
			id - property : 커맨드 객체 멤버변수 명
			result : PK 이외의 멤버변수 지정
			column, property는 id와 같은 방법으로 사용한다.
			association : 연관된 데이터를 맵핑시킨다.
			javaType : 조인될 객체 타입
			property : 커맨드 객체에서의 변수명
	 -->
	<resultMap type="com.test.mall2.item.service.Item" id="item">
		<id column="itemNo" property="itemNo" />
		<result column="itemName" property="itemName" />
		<result column="itemPrice" property="itemPrice" />
		
		<!--데이터를 매핑시켜준다. 
			association => 1 : 1 관계 
			collection => 1 : 다 관계 (한명의 유저가 작성한 글 목록)
			일반 컬럼과 pk 구분 가능 pk 칼럼에게는 result 아닌 id 사용
		-->
		<collection javaType="com.test.mall2.category.service.Category" property="category">
			<id column="categoryNo" property="categoryNo"/>
			<result column="categoryName" property="categoryName"/>
		</collection>
	</resultMap>
	
	<insert id="insertItem" parameterType="com.test.mall2.item.service.Item">
		INSERT INTO item(
			category_no
			, item_name
			, item_price
		) VALUES (
			#{category.categoryNo}
			, #{itemName}
			, #{itemPrice}
		)	
	
	</insert>
	
	<select id="selectItemList" parameterType="java.util.Map" resultType="com.test.mall2.item.service.Item">
		SELECT 
			item.item_no as itemNo
			, category.category_no as categoryNo
			, category.category_name as categoryName
			, item.item_name as ItemName
			, item.item_price  as itemPrice
		FROM item join category
		on item.category_no = category.category_no
		ORDER BY item_no DESC 
		LIMIT #{beginRow},#{pagePerRow}
	</select>
	
	<select id="totalCountItem" resultType="Integer">
		SELECT 
			count(*) 
		FROM item
	</select>
	
	<select id="updateItemForm" parameterType="com.test.mall2.item.service.Item" resultType="com.test.mall2.item.service.Item">
		SELECT
			item_no as itemNo
			, category_no as categoryNo
			, item_name as itemName
			, item_price as itemPrice
		FROM item
		WHERE
			item_no = #{itemNo}
	</select>
	
	<update id="updateItem" parameterType="com.test.mall2.item.service.Item">
		UPDATE item
		SET
			category_no = #{category.categoryNo}
			, item_name = #{itemName}
			, item_price = #{itemPrice}
		WHERE
			item_no = #{itemNo}
	</update>
	
	<delete id="deletItem" parameterType="com.test.mall2.item.service.Item">
		DELETE
		FROM item
		WHERE
			item_no = #{itemNo}		
	</delete>
	
</mapper>


