<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.mall2.order.service.OrderMapper">

	<insert id="insertOrder" parameterType="java.util.Map">
		INSERT 
			INTO `order`
		(order_no, member_no, item_no, order_date)
			VALUES (NULL, #{loginMemberNo}, #{itemNo}, NOW())
	</insert>

	
	<select id="orderList" parameterType="java.util.Map" resultType="com.test.mall2.order.service.Order">
		select 
			od.order_no as orderNo
			,mb.member_id as memberId
			,ca.category_name as categoryName
			,it.item_name as itemName
			,it.item_price as itemPrice
			,od.order_date as orderDate
			
			from `order` as od
			
			join member as mb
				using(member_no)
				
			join item as it
				using(item_no)	
				
			join category as ca
				using(category_no)
				 
					where category_no
					in(select item.category_no 
							from `order` as od
							
							left join item
							on od.item_no=item.item_no)
			<include refid="search"></include>
	    	
	    	
	    	ORDER BY od.order_no DESC <!-- order by가 리미트 이에 올라가 있어야하는듯?  -->
	    	
	    	limit #{beginRow}, #{pagePerRow}			
	</select>
	
	<sql id="search">	
	    <choose>	      
	        <when test="searchOption == 'order_date'">    
	        	and order_date BETWEEN '${keyword1}' AND '${keyword2}' 	        	           
	        </when>
	        <otherwise>
	        	and ${searchOption} like CONCAT('%','${keyword}','%')	             
	        </otherwise>
	    </choose>
	</sql>
	
	<select id="totalCountOrder"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
			from `order` as od
			
			join member as mb
				using(member_no)
				
			join item as it
				using(item_no)	
				
			join category as ca
				using(category_no)	
		<choose>	      
	        <when test="searchOption == 'order_date'">        
	        	where order_date BETWEEN '${keyword1}' AND '${keyword2}'            
	        </when>
	        <otherwise>
	            where ${searchOption} like CONCAT('%','${keyword}','%')
	        </otherwise>
	    </choose>
	</select>
	
</mapper>