<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.mall2.order.service.OrderMapper">

	<insert id="insertOrder" parameterType="java.util.Map">
		INSERT 
			INTO `order`
		(order_no, member_no, item_no, order_date)
			VALUES (NULL, #{loginMemberNo}, #{itemNo}, NOW())
	</insert>

	
	<select id="orderList" parameterType="java.util.Map" resultType="list">
		select 
			od.order_no 
			,me.member_id 
			,ca.category_name 
			,it.item_name 
			,it.item_price 
			,od.order_date
			
			from `order` as od
			
			join member as me
				using(member_no)
				
			join item as it
				using(item_no)	
				
			join category as ca
				using(category_no)
				 
					where category_no
					in(select item.category_no 
							from `order` as od
							
							left join item
							on od.item_no=item.item_no)
			<!-- <include refid="search"></include> -->
	    	
	    	limit #{beginRow}, #{pagePerRow} 
	    	
	    	ORDER BY me.order_no DESC
			
	</select>
	
	<!-- <sql id="search">	
	    <choose>	      
	        <when test="searchOption == 'order_date'">        
	        	WHERE order_date BETWEEN '${keyword1}' AND '${keyword2}'            
	        </when>
	        <otherwise>
	            WHERE ${searchOption} like CONCAT('%','${keyword}','%')
	        </otherwise>
	    </choose>
	</sql> -->
	
</mapper>